.main {
    background-image: url("../../img/header_background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    min-height:140vh;
    display: grid;
    grid-template-areas:
            "content null"
            "buttons null"
            " text null";
    justify-content: space-between;
    grid-template-rows: 60vh 40vh auto;
    grid-template-columns: 748px auto ;
    padding: 0px 60px ;
}
.textBlock {
    grid-area: content;
    align-self: end;
    text-align: center;
}

.mainText {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    letter-spacing: .83px;
}

.buttonBlock {
    padding-top: 10vh;
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: start;
}
.buttonBlock button {
    width: 240px;
    margin: 0 20px;
}

@media (max-width: 1366px) {
    .main {
        background-position: calc(100% + 200px);
        padding: 0px 10px ;
    }
}

@media (max-width: 1024px) {
    .main {
        background-size: cover;
        min-height:100vh;
        grid-template-rows: 50vh 50vh auto;
        background-position: calc(100% + 200px);
        padding: 0px 10px ;
    }
}
@media (max-width: 768px) and (orientation: portrait) {
    .buttonBlock {
        flex-direction: column;
        justify-content: start;
        padding-top: 10px;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: auto ;
    }

    .buttonBlock button {
        margin-top: 20px;
    }
}

@media (max-width: 414px) {
    .main {
        grid-template-columns: 100% 0 ;
    }
    .mainText {
        font-size: 15px;
    }
    .text {
        display: none;
    }

}


