.loginForm {
    width: 100%;
    background-color: #1a1a1a;
    margin: 75px auto 0 auto;
    padding: 40px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm a {
    color: #e5c490;
}


.socialButtonBlock {
    display: flex;
    order: -2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialButtonBlock button {
    margin: 10px 15px;
}

.emailLoginBlock {
    order: -1;
    width: 535px;
    background-color: #232323;
    border: 4px solid #9f7b51;
    margin-top: 20px;
    margin-bottom: 20px;
}

.emailLoginBlock_innerWrapper {
    padding: 35px 45px 50px 45px;
}

.title {
    font-size: 36px;
    color: #fff;
    font-family: 'Prata', serif;
    padding-bottom: 27px;
}

.email,
.password {
    text-align: right;
    color: white;
}

.email input,
.password input {
    border-radius: 50px;
    background-color: #1b1b1b;
    border: 1px solid #9f7b51;
    color: white;
    width: 330px;
    height: 35px;
    margin: 10px 0 10px 20px;
    font-size: 14px;
    padding-left: 20px;
}

.bottomBlockContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bottomBlock {
    width: 335px;
    align-self: end;
    display: flex;
    justify-content: space-between;
    color: white;
}

.loginButton div {
    width: 160px;
}

.loginButton {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.signUpBlock {
    color: white;
}


@media (min-width: 414px) and (max-width: 767px) {
    .loginForm {
        padding: 10px 0 50px 0;
    }

    .emailLoginBlock {
        min-width: 414px;
        margin-top: 10px;
    }

    .emailLoginBlock_innerWrapper {
        padding: 15px 25px 30px 25px;
    }

    .title {
        font-size: 26px;
        padding-bottom: 15px;
    }

    .email,
    .password {
        text-align: left;
    }

    .email span,
    .password span {
        text-align: left;
        padding-left: 20px;
    }

    .email input,
    .password input {
        width: 100%;
        height: 35px;
        margin-left: 0px;
    }

    .signUpBlock {
        order: 1;
    }


}

@media (max-width: 414px) {
    .loginForm {
        padding: 20px 0;
    }

    .emailLoginBlock {
        width: 100%;
        border: none;
        order: -3;
        background-color: #1a1a1a;
        margin: 0;
    }

    .emailLoginBlock_innerWrapper {
        padding: 0px 25px 10px 25px;
    }

    .title {
        font-size: 26px;
        padding-bottom: 15px;
    }

    .email,
    .password {
        text-align: left;
    }
    .email span,
    .password span {
        font-size: 12px;
    }
    .email input,
    .password input {
        width: 100%;
        height: 35px;
        margin-left: 0px;
    }

    .bottomBlock {
        width: 100%;
        font-size: 12px;
    }

    .socialButtonBlock {
        padding: 0 25px;
    }

    .socialButtonBlock button {
        line-height: 35px;
        min-width: 0;
        width: 100%;
        margin: 5px 5px;
        overflow: hidden;
        max-height: 46px;
    }

    .signUpBlock {
        padding-top: 15px;
        font-size: 12px;
    }

    .loginButton div {
        width: 100%;
    }

}
