.header {
    position: fixed;
    top:23px;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}
.container_header {
    width: 1320px;
    margin: 0 auto;
    padding: 10px 35px 0px 35px;
    width: 100%;
    display: grid;
    grid-template-areas:
            "logo nav sign";
    justify-content: space-between;
    /*grid-template-columns: 1fr 50% 1fr;*/
    align-items: center;
}
.header_logo {
    grid-area: logo;
    padding-right: 40px;
}
.header_logo_img {
    max-width: 200px;
}
.header_menu {
    grid-area: nav;
    padding-right: 30px;
}
.header a {
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.66px;
    padding-right: 25px;
}
.header a:hover {
    color: #e2c691;
}
.header_login {
    grid-area: sign;
}
.header_login a {
    color: #e2c691;
}
.header_login a:hover {
    color: white;
}
.header_language:before {
    content: "\e900";
    font-family: 'icomoon' !important;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;

}