
.features {
    text-align: left;
}

.titleSection {
    margin-bottom: 60px;
    text-align: center;
}


.block1 {
    display: grid;
    grid-template-areas: "title title title photo1 photo1 photo1" "title title title photo1 photo1 photo1" "text1 text1 text2 text2 photo2 photo2" "text3 text3 text4 text4 photo2 photo2";
    grid-template-rows: 160px 160px 160px 160px;
    grid-template-columns: 17% 17% 17% 17% 17% 15%;
    padding: 0 60px 100px 60px;
}

.titleBlock {
    grid-area: title;
    margin-bottom: 30px;
    padding-right: 200px;
}

.photo1 {
    grid-area: photo1;
    justify-self: center;
}

.photo2 {
    grid-area: photo2;
    justify-self: right;
}

.photo1,
.photo2,
.photoSlider {
    width: 245px;
    height: 245px;
    box-shadow: 0 0 0 6px #9f7b51, 0 0 0 14px #000;
    outline: 2px solid #9f7b51;
    outline-offset: -2px;
    position: relative;
}

.photo1 img,
.photo2 img,
.photoSlider img {
    width: 100%;
}

.photo_rightShadowElement {
    background-color: #000;
    width: 100%;
    height: 100%;
    outline: 8px solid #645038;
    outline-offset: -3px;
    position: absolute;
    top: 33px;
    left: 28px;
    z-index: -10;
}


.text1, .text2, .text3, .text4 {
    padding-top: 50px;
    padding-right: 50px;
    max-height: 160px;
    overflow: auto;
}

.text1 {
    grid-area: text1;
}

.text2 {
    grid-area: text2;
}

.text3 {
    grid-area: text3;
}

.text4 {
    grid-area: text4;
}


div.text {
    color: #f1e1ca;
}

.block2 {
    display: grid;
    grid-template-areas: "block2text1 block2title" "block2text1 block2title" "block2text2 block2text4" "block2text3 block2text4";
    justify-content: space-between;
    grid-template-rows: 140px;
    grid-template-columns: 50% 50%;
    padding: 0 190px 100px 175px;
    background-image: url(./img/bg_features_block2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.block2_title {
    grid-area: block2title;
    margin-bottom: 30px;
    padding-left: 20px;
}

.block2_text1,
.block2_text2,
.block2_text3 {
    padding-right: 37px;
    /*max-height: 160px;*/
    /*overflow: auto;*/
}

.block2_text1 {
    grid-area: block2text1;
    padding-top: 30px;
    max-height: 100% !important;
    /*overflow: visible !important;*/
}

.block2_text2 {
    grid-area: block2text2;
    padding-bottom: 50px;
}

.block2_text3 {
    grid-area: block2text3;
    overflow: visible !important;
}

.block2_text4 {
    grid-area: block2text4;
}

.block3 {
    display: grid;
    grid-template-areas: "block3title block3text1 block3photo1" "block3title block3text1 block3photo1" "block3title block3text2 block3photo2" "block3title block3text3 block3photo2";
    justify-content: space-between;
    grid-template-rows: 180px;
    grid-template-columns: 33% 33% 34%;
    padding: 0 60px 40px 60px;
}

.block3_photo1 {
    grid-area: block3photo1;
    margin-left: 40px;
    /*padding-bottom: 35px;*/
    margin-bottom: 35px;
}

.block3_photo2 {
    grid-area: block3photo2;
    justify-self: end;
    margin-right: 30px;
}

.block3_photo1,
.block3_photo2 {
    width: 245px;
    height: 245px;
    box-shadow: 0 0 0 6px #9f7b51, 0 0 0 14px #000;
    outline: 2px solid #9f7b51;
    outline-offset: -2px;
    position: relative;
}

.block3_photo1 img,
.block3_photo2 img {
    width: 100%;
}


.photo_leftShadowElement {
    background-color: #000;
    width: 100%;
    height: 100%;
    outline: 8px solid #645038;
    outline-offset: -3px;
    position: absolute;
    top: 33px;
    left: -28px;
    z-index: -10;
}

.block3_title {
    grid-area: block3title;
}

.block3_text1, .block3_text2, .block3_text3 {
    max-height: 160px;
    overflow: auto;
}

.block3_text1 {
    grid-area: block3text1;
    align-self: end;
    margin-bottom: 35px;
}

.block3_text2 {
    grid-area: block3text2;
}

.block3_text3 {
    grid-area: block3text3;
}

.block4 {
    display: grid;
    grid-template-areas: "block4text1 block4title" "block4text1 block4title" "block4text2 block4text4" "block4text3 block4text5";
    justify-content: space-between;
    grid-template-rows: 180px;
    grid-template-columns: 50% 50%;
    padding: 100px 190px 100px 175px;
    background-image: url(./img/bg_features_block4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.block4_title {
    grid-area: block4title;
    margin-bottom: 50px;
}

.block4_text1,
.block4_text2,
.block4_text3 {
    padding-right: 70px;
    max-height: 160px;
    overflow: auto;
}


.block4_text1 {
    grid-area: block4text1;
    align-self: end;
    margin-bottom: 50px;
}

.block4_text2 {
    grid-area: block4text2;
    margin-bottom: 50px;
}

.block4_text3 {
    grid-area: block4text3;
}

.block4_text4 {
    grid-area: block4text4;
}

.block4_text5 {
    grid-area: block4text5;
}

.slider {
    display: none;
}


.player {
    width: 81vh;
    height: 45vh;
    margin: 0 auto 100px auto;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}


@media (max-width: 1360px) {

    .titleText {
        padding-bottom: 0;
    }

    .text1, .text2, .text3, .text4 {
        padding-top: 5px;
        padding-right: 20px;
        max-height: 160px;
        overflow: auto;
    }

    .block1 {
        padding: 0 30px 100px 30px;
    }

    .photo1,
    .photo2 {
        width: 220px;
        height: 220px;
    }

    .titleBlock {
        padding-right: 20px;
    }

    .block2, .block4 {
        padding: 0px 90px 100px 75px;
    }

    .block3 {
        padding: 0 30px 100px 30px;
        grid-template-columns: 45% 45% auto;
    }

    .block3_photo2, .block3_photo1 {
        display: none;
    }

    .titleBlock, .block2_title, .block3_title, .block4_title {
        line-height: 1;
    }
}


@media (max-width: 768px) {

    .photo1,
    .photo2 {
        width: 200px;
        height: 200px;
    }

    .block2_text2 {
        padding-bottom: 5px;
    }
}

@media (max-width: 414px) {


    .block1, .block2, .block3, .block4 {
        display: flex;
        flex-direction: column;
        padding: 10px;
        /*grid-template-areas: "title" "photo1" "photo2" "text";*/
        /*grid-template-rows: 200px ;*/
    }

    .text1, .text2, .text3, .text4,
    .block2_text1, .block2_text2, .block2_text3, .block2_text4,
    .block3_text1, .block3_text2, .block3_text3,
    .block4_text1, .block4_text2, .block4_text3, .block4_text4, .block4_text5 {
        display: none;
        padding: 0;
        margin: 0;
    }
    .desktop {
        display: none;
    }

    .block2_text1 {
        padding-top: 0;
    }

    .titleText {
        padding-bottom: 10px;
    }

    .photo1,
    .photo2 {
        width: 250px;
        height: 250px;
        margin: 40px auto 80px auto;
    }

    .photoSlider {
        width: 80vw;
        height: 80vw;
        margin: 10px auto 90px auto;
        outline-offset: 0;
    }

    .photo_rightShadowElement {
        outline: 7px solid #645038;
        position: absolute;
        top: 27px;
        left: 22px;
        z-index: -10;
    }

    .photo1,
    .photo2 {
        display: none;
    }

    .titleBlock,
    .titleText {
        font-size: 30px;
        text-align: center;
    }

    .titleBlock, .block2_title, .block3_title, .block4_title {
        margin: 0 0 30px 0;
    }

    .buttonBlock {
        display: flex;
        justify-content: center;
        z-index: 5;
        margin-top: 30px;
    }

    .buttonBlock button {
        width: 240px;
    }

}

@media (orientation: portrait) {
    .player {
        width: 85vw;
        height: 48vw;
        margin-bottom: 120px;
    }
}
