
.titleCommon {
    color: #e3c597;
    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    font-family: 'Prata', serif;
}

.buttonCommon{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.87px;
    color: #f8f4f1;
    background-color: transparent;
    padding: 20px 0;
    border: 3px solid #9f7b51;
    border-radius: 40px;
    cursor: pointer;
}

.buttonMainCommon {
    background-color: #9f7b51;
}
.buttonMainCommon:hover {
    background-color: #936431;
    border: 3px solid #936431;
}
.buttonSecondaryCommon:hover {
    background-color: #9f7b51;
}
