.howItWork {
    padding: 0 60px;
    margin-bottom: 100px;
    min-height: 350px;
}

.title {
    padding-bottom: 60px;
}

.itemsBlock {
    display: flex;
    position: relative;
    text-align: center;
}

.item {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    cursor: pointer;
}

.itemNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #9f7b51;
    border: 1px solid #9f7b51;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: -15px;
}

.itemsBlock::before {
    content: "";
    top: 20px;
    left: 10%;
    position: absolute;
    width: 80%;
    border: 2px solid #9f7b51;
    z-index: -10;
}

.itemTitle {
    display: block;
    font-family: 'Open Sans', sans-serif;;
    font-size: 15px;
    font-weight: 700;
    color: #f8f4f1;
    letter-spacing: 1.87px;
    text-transform: uppercase;
    padding: 13px 0px 17px 0px;
    margin-top: 20px;
}

.itemText {
    display: none;
    color: #f1e1ca;
    font-family: 'Open Sans', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 0 22px 22px 22px;
}

.item:hover .itemHoverText {
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    z-index: -15;
}

.item:hover .itemText {
    display: block;
}

@media (max-width: 1366px) {
    .howItWork {
        padding: 0 30px;
    }
    .itemText {
        padding: 0 10px 10px 10px;
    }
}
@media (max-width: 768px) {
    .howItWork {
        padding: 0 20px;
    }
    .itemText {
        font-size: 11px;
        padding: 0 5px 5px 5px;
    }
}
@media (max-width: 414px) {
    .howItWork {
        padding: 0 10px;
    }
    .title {
        padding-bottom: 20px;
    }
    .itemsBlock {
        flex-direction: column;
        justify-content: space-around;
            }

    .itemsBlock::before {
        display: none;
    }
    .item {
        display: flex;
        justify-content: start;
        padding-left: 30px;
        flex-direction: row;

        margin-top: 20px;
    }
    .itemTitle {
        font-size: 11px;
        margin-top: 0;
        text-align: left;
        padding-left: 20px;
    }
    .itemNumber {
        min-width: 35px;
        max-height: 35px;
        margin-right: 15px;
        margin-bottom: 0;

    }
    .itemHoverText {
        min-width: 250px;
    }
    .itemText {
        padding: 0 10px 10px 20px;
    }
}